<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap  Template</title>

       <link rel="stylesheet" href="{{  url_for("static",filename="css/bootstrap.min.css")}}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="{{  url_for("static",filename="js/jquery.min.js")}}"></script>
	<script src="{{  url_for("static",filename="js/bootstrap.min.js")}}"></script>
  </head>
  <body >
    <!-- step 2-2 after nav -->
	<header>      
    <nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">TrumpEducation</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="home.html">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<img src="{{  url_for("static",filename="photo/LOGO.png")}}"  alt="logo of our education" height="50" width="150" />
				</form>	  
			</div>
		</div>
    </nav>
    </header> 
	
	<div class="container-fluid" >
		<div class="row">
				<div class="col-xs-12">
					<div class="container-fluid">

                        {% for foo in resulst %}
                            						<div class="col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>{{ foo.course }}</h4>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

									</ul>
								</div>
								<div class="panel-body">

                                    {% for foo2 in foo.detail %}
                                        <div class="panel panel-default">
								<div class="panel-heading">
									<h4>{{ foo2.chapter }}</h4>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

									</ul>
								</div>
								<div class="panel-body">
										<table class="table table-bordered table-striped table-hover">
								<colgroup>
								<col class="col-xs-2" />
								<col class="col-xs-4" />
								<col class="col-xs-4" />
								<col class="col-xs-2" />

								</colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>签到</th>
              </tr>
            </thead>
            <tbody>

            　{% for foo3 in foo2.detail %}
                              <tr>
                <td>{{ foo3.1 }}</td>
                <td>{{ foo3.2 }}</td>

                <td>
                    {% if foo3.0==1 %}
                          <span class="glyphicon glyphicon-ok"> </span>
                        {% else %}
                        <span class="glyphicon glyphicon-remove"></span>

                    {% endif %}

                    </td>

              </tr>


            {% endfor %}





            </tbody>
          </table>
								</div>
								</div>

                                    {% endfor %}

								</div>
								</div>

							</div>


                        {% endfor %}



							
							
							
						</div>
					</div>
				</div>
	</div>
		
	





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>